* {
    all: unset;
    font-family: "ubuntu nerd font";
    min-height: 0;
}

window#waybar {
    background-color: transparent;
    color: #ffffff;
}

.modules-left {
	background: #000;
	border-radius: 8px;
}

#workspaces button {
    padding: 0 2px;
    color: #606060;
    font-weight: bold;
    font-size: 15px;
}

#workspaces button.empty {
    color: #303030
}

#workspaces button.focused {
    color: #fff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#workspaces button:hover {
    color: #fff;
}

#clock {
	color: #fff;
	font-weight: bold;
	margin: 0 5px;
        font-size: 15px;
}

#network {
    color: #fff;
    font-size: 13px;
    /* margin-right: 5px; */
}

#network.disconnected {
    color: #303030
}

#pulseaudio {
    color: #fff;
    font-size: 13px;
}

#pulseaudio.muted {
    color: #303030;
}

#tray {
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#custom-logo {
  background-image: url("./pp.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 1.5rem;
  min-width: 1.5rem;
  border-radius: 100%;
  margin: 2px 0 2px 5px;
  box-shadow: 2px -2px 2px 0px #000;
}
