* {
    all: unset;
    font-family: noto sans;
    min-height: 0;
}

window#waybar {
    background-color: #000;
    color: #ffffff;
}

#tags button {
    padding: 0 2px;
    color: #303030;
    font-weight: bold;
    font-size: 15px;
}

#tags button.occupied {
    color: #606060
}

#tags button.focused {
    color: #fff;
}

#tags button.urgent {
    background-color: #eb4d4b;
}

#tags button:hover {
    color: #fff;
}

#clock {
	color: #fff;
	font-weight: bold;
	margin-left: 5px;
        font-size: 15px;
}

#network {
    color: #fff;
    font-size: 14px;
    margin-right: 5px;
}

#network.disconnected {
    color: #303030
}

#pulseaudio {
    color: #fff;
    font-size: 12px;
}

#pulseaudio.muted {
    color: #303030;
}

#tray {
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#custom-logo {
  background-image: url("./pp.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 1.5rem;
  min-width: 1.5rem;
  border-radius: 100%;
  margin: 2px 0 2px 5px;
  box-shadow: 2px -2px 2px 0px #000;
}
